* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    background: linear-gradient(to bottom, #262626, #060606);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    background-color: #121212;
    height: 80%;
    width: 90%;
    max-width: 550px;
    box-shadow: 5px 5px 25px black;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.car {
    margin-top: 5%;
    color: white;
    font-size: 2vw; /* was 3vw */
    text-align: center;
}

.txt {
    margin-top: 5%;
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 1.8vw; /* was 2.5vw */
    font-weight: bold;
    text-align: center;
}

form {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-top: 5%;
    margin-bottom: 2%;
    height: 6vh;
    width: 90%;
    font-size: 1.2vw; /* was 1.5vw */
    background-color: #262626;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 0 5%;
}

button {
    background-color: #3BE477;
    height: 6vh;
    width: 30%;
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 1.2vw; /* was 1.5vw */
    margin-top: 6%;
    border: none;
    cursor: pointer;
}

button:hover {
    box-shadow: 5px 5px 25px #262626;
}

.create-account {
    margin-top: 5%;
    font-family: 'Arial', sans-serif;
    font-size: 1.2vw; /* was 1.5vw */
    color: white;
    text-align: center;
    cursor: pointer;
}
