* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    overflow-x: hidden;
}
.body-container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}
.profile-container {
    width: 100%;
    max-width: 30%;
    background-color: #121212;
    height: 100%;
}
.profile-name {
    margin-top: 5%;
    font-size: 0.9vw;
    font-family: 'arial', sans-serif;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.image {
    display: flex;
    justify-content: center;
}
.imy {
    margin-top: 5%;
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    object-fit: cover;
}
.contact {
    margin-top: 1%;
    font-size: 0.8vw;
    color: #D6D6D6;
    font-family: 'arial', sans-serif;
    display: flex;
    justify-content: center;
}
.location {
    margin-top: 5%;
    color: #959595;
    font-size: 0.7vw;
    font-family: 'arial', sans-serif;
    display: flex;
    justify-content: center;
}
.loc {
    font-size: 0.8vw;
    width: 80%;
    text-align: center;
}
.order {
    margin-top: 5%;
    color: #F7F7F7;
    font-size: 0.9vw;
    font-family: 'arial', sans-serif;
    display: flex;
    justify-content: center;
}
.homy {
    background: linear-gradient(to bottom, #222222, #121212);
    border-radius: 8px;
    height: 100%;
    width: 100%;
    max-width: 70%;
}
#nav-book {
    display: inline;
}
#nav {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
}
.nav-element {
    background-color: #121212;
    color: #ffffec;
    font-family: 'arial', sans-serif;
    font-size: 0.9vw;
    padding: 0.6vw 1vw;
    margin: 0.8vw;
    border-radius: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home {
    background-color: #3BE477;
}
.req,
.booking-requests {
    margin-top: 2%;
    border-radius: 0.8vw;
    background-color: #222222;
    width: 96%;
    margin: 2%;
    padding: 1.5%;
}
.text {
    font-size: 0.8vw;
    color: #959595;
    font-family: 'arial', sans-serif;
    margin-bottom: 1%;
}
.customer-name {
    color: white;
    font-size: 0.9vw;
    font-family: 'arial', sans-serif;
    font-weight: bold;
}
.car {
    margin-top: 2%;
    background-color: #282828;
    width: 100%;
    padding: 1%;
    color: #B9B9B9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: 'arial', sans-serif;
    font-size: 0.9vw;
}
.done {
    display: flex;
    justify-content: center;
}
.cancled,
.completed {
    font-family: 'arial', sans-serif;
    font-size: 1.1vw;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}
.cancled {
    color: red;
}
.completed {
    color: #3BE477;
}
.dony {
    background-color: #3BE477;
    border: none;
    font-size: 0.8vw;
    padding: 0.3vw 0.8vw;
    border-radius: 2vw;
    color: #121212;
}
.text2 {
    margin-top: 2%;
}
.num1 {
    height: 4vw;
    width: 4vw;
    font-size: 1vw;
    color: white;
    background-color: #282828;
    border: 0.2vw solid black;
    text-align: center;
    box-shadow: 0.3vw 0.3vw 0.6vw black;
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tx1,
.tx2,
.tx3,
.tx5,
.tx6 {
    text-align: center;
    font-family: 'arial', sans-serif;
    margin-top: 1%;
}
.tx1,
.tx6 {
    font-size: 1.8vw;
    color: white;
}
.tx5 {
    font-size: 1.8vw;
    color: red;
}
.tx2,
.tx3 {
    font-size: 1.1vw;
    color: #D6D6D6;
    font-weight: bold;
}
.confirm {
    display: flex;
    justify-content: center;
}
.con2 {
    border: none;
    background-color: #3BE477;
    height: auto;
    width: 30%;
    font-size: 1vw;
    font-weight: bold;
    font-family: 'arial', sans-serif;
    margin: 3%;
    padding: 0.8vw;
    box-shadow: 0.4vw 0.4vw 0.8vw black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.otp-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
